body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.text-very-muted {
    color: #999 !important;
}

.text-super-muted {
    color: #ddd !important;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.rotate-minus-90 {
    transform: rotate(-90deg);
    transition: 150ms ease-out transform;
}

.no-rotate  {
    transform: rotate(0deg);
    transition: 150ms ease-out transform;
}

.border-left {
    border-left: 1px solid #efefed;
}

.border-left-thick {
    border-left: 2px solid #efefed;
}

.ml-6 {
    margin-left: 6px;
}

.pl-6 {
    padding-left: 10px;
}