body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-very-muted {
 color: #999 !important;
}

.text-super-muted {
    color: #ddd !important;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}